@model Blog
@{
    ViewData["Title"] = "Msg";
}

<h2>Message sent</h2>
<a href="Index">Return to BlogList</a>
<br />
<br />

<p>@Model.BlogPost</p>

@*<table class="table table-bordered">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Category</th>
                <th>BlogPost</th>
                <th>DateTime</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.User.UserName</td>
                <td>@Model.CategoryId</td>
                <td>@Model.BlogPost</td>
                <td>@Model.TimeStamp</td>
            </tr>
        </tbody>
    </table>*@